body{
    margin: 0;
    background-color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.layout {
    display: flex;
    justify-content: center;
}

.left{
    position: fixed;
    width: 4%;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 50;
    overflow: visible;
}

.center{
    width: 96%;
    padding: 20px;
    border-left: 2px solid #F5F5DC;
    min-height: 100vh;
}

.debut{
    display: flex;
    align-items: center;
    font-size: 40px;
    border-left: 4px solid blueviolet;
    border-right: 1px solid #7248cd;
    margin-left: 0;
}

.titre{
    color:#7248cd;
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.nav-item{
    position: relative;
    text-decoration: none;
    display: flex;      
    pointer-events: auto; 
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 25px;
    padding: 15px;
    transition: background 0.2s;
}
.nav-item::after{
    content: attr(data-tooltip);
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.nav-item:hover::after,.nav-item.active::after{
    opacity: 1;
    visibility:visible;
}
.nav-item:hover {
    border-radius: 15px;
    background-color: #fff4f9;
}
.nav-item.active{
    border-radius: 15px;
    background-color: #fff4f9;

}

.icolivre{
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.icohisto{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.iconhome,.notif {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.icorec{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.icorec:hover{
    transform: rotate(2deg);
}
.iconlivre{
  width: 50px;
    height:50px;
    object-fit: contain; 
}
.iconlivre:hover{
    transform: rotate(2deg);
}
.profile {
    margin-top: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
    color: black;
    transition: background 0.2s;
    border-radius: 50px;
    background-color: #ffffff;
    overflow: visible;

}
.profile::after{
    content: attr(data-tooltip);
    position: absolute;
  left: 110%;
  top: 76%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.profile:hover::after{
    opacity: 1;
}

.profile:hover {
    background-color: #ffffff;

}
.profile.active{
background-color: #ffffff;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.pseudo {
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.historio{
    text-decoration: none;
    display: flex;            
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 25px;
    padding: 15px;
    transition: background 0.2s;
}
.historio:hover{
color: #7248cd;
}
.top-bar {
    width: 100%;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.search-form {
display: flex; 
  align-items: center; 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  max-width: 90%; 
  background-color: #ffffff;

}
.search-form:hover{
    background-color: #f9f9f9;
}
.search-input {
  flex-grow: 1; 
  border: none; 
  padding: 10px 12px;
  font-size: 16px;
  outline: none; 
  background-color: transparent;
}

.search-input::placeholder {
  color: #999;
}


.empty-state {
    margin-top: 40px;
    text-align: center;
    background: white;
    padding: 40px 20px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.05);
}

.empty-icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.empty-state h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.empty-state p {
    color: #777;
    margin-bottom: 30px;
}

.btn-create {
    display: inline-block;
    padding: 12px 24px;
    background:#7248cd;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.btn-create:hover {
    background: #5c2fbc;
}
.histoires{
    display: inline-block;
    border-bottom: 4px solid black;
    cursor: pointer;
}
.histoires h2{
    margin-top: 50pxpx;

}
.histoires:hover{
    border-bottom: 4px solid #7248cd;
    cursor: pointer;
}