{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Historio-Accueil</title>
        <link rel="stylesheet" href="{% static 'css/acceuil.css' %}">
        <link rel="icon" type="image/png"  sizes="16x16" href="{% static 'images/historio.png' %}">
         <link rel="icon" type="image/png"  sizes="32x32" href="{% static 'images/historio.png' %}">
    </head>
    <body>
        <header>
            <div class="debut">
                <img src="{% static 'images/historio.png' %}" alt="historiologo" class="logo" width="80px">
                <a class="titre">Historio</a>
            </div>
            <nav>
                <a href="/signup" ><button class="boutonins">S'inscrire</button></a>
                <a href="/login" ><button class="boutoncon">Se Connecter</button></a>
            </nav>
        </header>
         <div class="livre">
                <img src="{% static 'images/livre.png' %}" alt="livre" class="livreim">
         </div>
         <div class="description">
         <p>Que vous soyez Ecrivain ou simple Lecteur, Historio est la platforme faite pour vous</p>
         </div>
    </body>
</html>