{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Historio-Accueil</title>
        <link rel="stylesheet" href="{% static 'css/acceuil.css' %}">
        <link rel="icon" type="image/png"  sizes="16x16" href="{% static 'images/livreicon.png' %}">
         <link rel="icon" type="image/png"  sizes="32x32" href="{% static 'images/livreicon.png' %}">
    </head>
    <body>
        <header>
            <div class="debut">
                <img src="{% static 'images/livreicon.png' %}"alt="historiologo" class="logo" width="80px">
                <a class="titre">Historio</a>
            </div>
            <nav>
                <a href="{% url 'inscription' %}" ><button class="boutonins">S'inscrire</button></a>
                <a href="{% url 'login' %}" ><button class="boutoncon">Se Connecter</button></a>
            </nav>
        </header>
         <div class="livre">
                <img src="{% static 'images/livreicon.png' %}" alt="livre" class="livreim">
         </div>
         <div class="description">
         <a>Que vous soyez Ecrivain ou simple Lecteur, Historio est la platforme faite pour vous </a>
         </div>
    </body>
</html>