{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Historio</title>
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/livreicon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/livreicon.png' %}">
</head>
<body>
    <div class="connexion">
        <div class="image-section">
            <img src="{% static 'images/livreicon.png' %}"class="livre" alt="Logo Historio">
        </div>

        <div class="card_container">
            <span class="titre">Connectez-vous à votre compte Historio</span>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="form-group error-box">
                        {% for error in form.non_field_errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email|add_class:"input-field"|attr:"placeholder:votre@email.com" }}
                    {% if form.email.errors %}
                        <span class="error-message">{{ form.email.errors.0 }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password|add_class:"input-field"|attr:"placeholder:••••••••" }}
                    {% if form.password.errors %}
                        <span class="error-message">{{ form.password.errors.0 }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="submit">Se connecter</button>

                <div class="divider">ou</div>

                <a href="{% provider_login_url 'google' %}" class="google-btn">
                    <img src="{% static 'images/chrome.png' %}" class="coco" alt="Google">
                    <span>Continuer avec Google</span>
                </a>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.5/sweetalert2.all.min.js"></script>
<script>
    {% if form.errors %}
        Swal.fire({
            title: 'Erreur de connexion',
            text : 'Veillez modifier les informations du formulaires',
            icon: 'error',
            confirmButtonText: 'OK'
            
        })
    {% endif %}

    {% for message in messages %}
       {% if message.tags == 'success' %}
        Swal.fire({
            title: 'Connexion réussie',
            text: '{{ message }}',
            icon: 'success',
        }).then(() => {
            window.location.href= "{% url 'page_utilisateur' %}";
        });
        {% endif %}
    {% endfor %}
</script>
</body>
</html>