{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Historio</title>
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/livreicon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/livreicon.png' %}">
</head>
<body>
    <div class="connexion">
        <div class="image-section">
            <img src="{% static 'images/livreicon.png' %}"class="livre" alt="Logo Historio">
        </div>

        <div class="card_container">
            <span class="titre">Connectez-vous à votre compte Historio</span>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Email</label>
                    {{ form.email|add_class:"input-field"|attr:"placeholder:votre@email.com" }}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Mot de passe</label>
                    {{ form.password|add_class:"input-field"|attr:"placeholder:••••••••" }}
                </div>

                <button type="submit" class="submit">Se connecter</button>

                <div class="divider">ou</div>

                <a href="{% provider_login_url 'google' %}" class="google-btn">
                    <img src="{% static 'images/chrome.png' %}" class="coco" alt="Google">
                    <span>Continuer avec Google</span>
                </a>
            </form>
        </div>
    </div>
</body>
</html>