{% extends "page_utilisateur.html" %}
{% load static %}
{% load widget_tweaks %}

{% block modifier %}
<div class="titreadd">
    <h2>Modifier le livre</h2>
</div>

<div class="formulaire">
    {% if livre %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="couverture">
            <label for="id_couverture" class="cover-upload">
                {% if livre.couverture %}
                    <img src="{{ livre.couverture.url }}" id="cover-preview" alt="Couverture">
                {% else %}
                    <img src="{% static 'images/plus.png' %}" id="cover-preview" alt="Modifier la couverture">
                {% endif %}
            </label>
            {{ form.couverture }}
        </div>

        <div class="grandgroupe">
            <div class="group">
                <label for="{{ form.titre.id_for_label }}">{{ form.titre.label }}</label>
                {{ form.titre|add_class:"form-control" }}
                {% if form.titre.errors %}
                    <span class="error-message">{{ form.titre.errors.0 }}</span>
                {% endif %}
            </div>

            <div class="group">
                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                {{ form.description|add_class:"form-control" }}
                {% if form.description.errors %}
                    <span class="error-message">{{ form.description.errors.0 }}</span>
                {% endif %}
            </div>

            <div class="group">
                <button class="boutton" type="submit">Enregistrer les modifications</button>
            </div>
        </div>

    </form>
    {% else %}
    <p>Le livre n'a pas pu être trouvé.</p>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.5/sweetalert2.all.min.js"></script>
<script>
{% if form.errors %}
    Swal.fire({
        title: `Erreur lors de la modification`,
        text: `Veuillez corriger les informations du formulaire.`,
        icon: `error`,
        confirmButtonText: `OK`,
        confirmButtonColor: `#e74c3c`
    });
{% endif %}

{% for message in messages %}
    {% if message.tags == 'success' %}
    Swal.fire({
        title: `Modification réussie !`,
        text: `{{ message }}`,
        icon: `success`,
    }).then(() => {
        window.location.href = "{% url 'mes_livres' %}";
    });
    {% endif %}
{% endfor %}
</script>



{% endblock %}